@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

.quill {
  border: none !important;
  display: flex !important;
  flex-direction: column !important;
  height: calc(100% - 40px) !important;
}

.ql-container {
  border: none !important;
  flex: 1 1 auto !important;
  overflow-y: auto !important;
  min-height: 200px !important;
}

.ql-toolbar {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  flex: 0 0 auto !important;
}

.quill .ql-container.ql-snow, 
.quill .ql-toolbar.ql-snow {
  background-color: transparent !important;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ql-editor {
  padding-bottom: 100px !important;
  min-height: 200px !important;
  font-family: 'Mulish', sans-serif;
}
