@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  p {
    @apply text-sm leading-relaxed;
  }
  
  code {
    @apply px-2 py-1 bg-gray-800 text-gray-300 rounded text-sm font-mono;
  }
}
